kaggle
python-dotenv
numpy >= 1.8
albumentations >= 2.0
--extra-index-url https://download.pytorch.org/whl/cu124
torch >= 2.0
torchvision >= 0.26
torchaudio >= 2.0
opencv-python-headless >= 4.0
tqdm >= 4.67
pandas >= 2.0